#pantryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15vw;
  background-color: #b79a7b;
  border: 10px double;
  border-radius: 30px;
  margin-top: 20px;
  padding: 7px;
}

#sign {
  font-size: 1.5em;
  border-width: 3px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: bold;
  height: fit-content;
  width: fit-content;

  h3 {
    margin: 0;
    margin-top: 3%;
    margin-bottom: 3%;
  }
}

#groceryContainer {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* 1 column of equal width */
  padding: 5px; /* Adds padding around the container */
  row-gap: 1px; /* Adds 1px space between rows */
  column-gap: 125px;
  align-items: center;
  justify-items: center;
}

.groceryItem {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #60b4b7;
  border: solid;
  border-width: 2px;
  border-radius: 10px;
  width: 150px;
  height: 35px;
  padding: 2px;
  text-align: center;

  &:hover {
    background: #b4703f;
    border-radius: 25px;
    color: #fff;
    border-color: black;
    box-shadow: 0 0 8px rgba(75, 87, 97, 0.6);
    cursor: pointer;
  }
}

.popupContainer {
  position: fixed; /* Use fixed positioning */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for centering */
  width: 40%; /* Set width */
  background-color: white;
  z-index: 1001; /* Ensure it appears above other elements */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;

  .popup-content {
    position: relative;
    padding: 20px;

    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      color: #616161;
      font-size: 20px; /* Increase font size */

      &:hover {
        font-weight: bold;
      }
    }

    h2 {
      margin-top: 0;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

#itemsAndQty {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 20px;
}

.grid-header {
  font-weight: bold;
  text-align: center;
}

.grid-item {
  background-color: #f0f0f0;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

.grid-qty {
  background-color: #f0f0f0;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}
