#SortByContainer {
  border: solid;
  width: 40vw;
  height: auto;
  margin-top: 20px;
  border-radius: 30px;
  background-color: #b79a7b;
  border-style: double;
  border-width: 10px;
}

#sortByBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  text-align: center;

  h1 {
    font-size: 2em;
  }

  #options {
    display: flex;

    #recipe {
      margin-right: 10%;
    }
  }
}
